<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
   
<bean name="writeArticleService"  class="spring.chap01.WriteArticleServiceImpl" >
<constructor-arg> 
<ref bean="articleDao" /> <!-- 아티클 dao라는 빈을 사용해라 -->
</constructor-arg>
</bean>

<bean name="articleDao" class="spring.chap01.MySQLArticleDao">
</bean>

</beans>
